.tt-menu
  .tt-dataset
    %h3= 'Aucune recherche récente' if @saved_searches.empty? 
    - @saved_searches.each do |k,v|
      %a{href:"/users/#{k}/repos"}
        .tt-suggestion
          le #{l v.to_date, format: :short} &nbsp;&nbsp;&laquo; #{k} &raquo;
      